{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread", // 支持对象 rest 预发
    "transform-class-properties" //解析类属性，静态和实例的属性
  ]
}
